; {{ ansible_managed }}
;
; Subzone file for home.rushdel.me
; Contains services accessible under the home.rushdel.me subdomain.

$TTL {{ dns_ttl }}

$ORIGIN home.rushdel.me.

@               IN      SOA     ns1.rushdel.me.  {{ dns_admin_email }}. (
                                {{ ansible_facts['date_time']['year'] }}{{ ansible_facts['date_time']['month'] }}{{ ansible_facts['date_time']['day'] }}{{ ansible_facts['date_time']['hour'] }}   ; serial (YYYYMMDDhh)
                                {{ dns_soa_refresh }}             ; refresh
                                {{ dns_soa_retry }}             ; retry
                                {{ dns_soa_expire }}              ; expire
                                {{ dns_soa_minimum }}              ; minimum TTL
                                )

; --- Nameserver records ---
{% for ns in dns_nameservers %}
                IN      NS      {{ ns.name }}.rushdel.me.
{% endfor %}

; --- CNAME records ---
{% for record in dns_home_cname_records %}
{% if record.comment is defined %}
{{ "%-20s" | format(record.name) }}IN      CNAME   {{ record.target }}    ; {{ record.comment }}
{% else %}
{{ "%-20s" | format(record.name) }}IN      CNAME   {{ record.target }}
{% endif %}
{% endfor %}
