all:
  children:
    dns_master:
      hosts:
        dns1:
          ansible_host: 192.168.X.21
    dns_secondary:
      hosts:
        dns2:
          ansible_host: 192.168.X.39
        dns3:
          ansible_host: 192.168.X.9
    dns_servers:
      children:
        dns_master:
        dns_secondary:
    keepalived_servers:
      hosts:
        dns2:
        dns3:
